<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8">
		<title>Sorteio CRUD</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.
		com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<link rel="stylesheet" href="/css/style.css">

	</head>
	<body>
		<header id="header">
			<nav>
				<div class="container">
					<div class="text-center">
						<a href="/" class="nav-brand text-dark">Sorteio</a>
					</div>
				</div>
			</nav>
		</header>